<div ng-init='vm.init()'>
	<div class="col-lg-9" style="margin-bottom:100px;margin-left:30px;margin-top: 60px;">

		<div class="col-lg-12">
	            <div class="progress col-lg-1">
	                <img src="../src/server/public/picture/item_pencil.jpg" style="width:100%" class="img-thumbnail">
	                <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar"
	                     style="width:100%">
	                    Get Bidded
	                </div>
	            </div>
	            <div class="col-lg-7" style="padding:10px 40px;font-size: 16px">
	                <div>Pencil</div>
	                <div>item Id: 1002431</div>
	                <div style="font-size: 80%;margin-top:10px">
	                    <div>
	                        <label style="display:inline-block;">Preferred EST Price:</label> <span>15$ </span>

	                        <label style="border-left:1px solid lightgrey;display:inline-block;padding-left: 10px">Collected By:</label> <span>5 customers </span>

	                        <label style="border-left:1px solid lightgrey;display:inline-block;padding-left: 10px">Bargain With:</label> <span>2 customers </span>
	                        <br>
	                        <label style="display:inline-block;">Brand New Item in Market:</label> <span>18$ </span>
	                        <br>
	                        <i
	                            class="glyphicon"
	                            style="cursor:pointer"
	                            ng-click="vm.openDetail()"
	                            ng-class="{'glyphicon-chevron-down': vm.status.item1DetailOpen, 'glyphicon-chevron-right': !vm.status.item1DetailOpen}">
	                        </i>
	                        <label>Items Description</label>
	                        <br>
	                        <panel class="col-lg-12" ng-show="vm.status.item1DetailOpen">
	                            <ul>
	                                <li>
	                                    his Certified Refurbished product is tested & certified by HP to look and work like-new.
	                                </li>
	                                <li>
	                                    TThe product includes all original accessories, and is backed by a 90-Day warranty.
	                                    AMD Quad-Core A8-6410 Processor up to 2.4GHz Frequency, 4GB DDR3 RAM (2 slots, 1 user accessible), 750G HDD;
	                                </li>
	                                <li>
	                                    15.6" HD BrightView Display with WLED Backlighting 1366x768, AMD Radeon R5 Built-in Graphics;
	                                </li>
	                                <li>
	                                    SuperMulti DVD Burner, HD Webcam with Mic, 1 USB 3.0 Port, 2 USB 2.0 Ports, 1 HDMI Port, 802.11b/g/n WiFi;
	                                    Genuine Windows 7 Home Premium 64-bit, English.
	                                </li>
	                            </ul>
	                        </panel>
	                    </div>
	                </div>
	                <!--<br>-->
	                <!--<pre>Added: 07/05/2016</pre>-->
	                <!--<pre>Modified: 07/12/2016</pre>-->
	            </div>
	            <div class="col-lg-3">
	                <div class="btn-group" style="margin-top:50px">
	                    <button class="btn btn-xs btn-danger">Remove</button>
	                    <button class="btn btn-xs btn-success">Move To Shopping Cart</button>
	                </div>
	            </div>
	    </div>
	    <div class="col-lg-12" style="margin-top: 30px">
            <div class="progress col-lg-1">
                <img src="../src/server/public/picture/item_headPhone.jpg" style="width:100%" class="img-thumbnail">
                <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar"
                     style="width:100%">
                    Get Sold
                </div>
            </div>
            <div class="col-lg-7" style="padding:10px 40px;font-size: 16px">
                <div>Headphone</div>
                <div>item Id: 1021434</div>
                <div style="font-size: 80%;margin-top:10px">
                    <div>
                        <label style="display:inline-block;">Preferred EST Price:</label> <span>15$ </span>

                        <label style="border-left:1px solid lightgrey;display:inline-block;padding-left: 10px">Collected By:</label> <span>5 customers </span>

                        <label style="border-left:1px solid lightgrey;display:inline-block;padding-left: 10px">Bargain With:</label> <span>2 customers </span>
                        <br>
                        <label style="display:inline-block;">Brand New Item in Market:</label> <span>18$ </span>
                        <br>
                        <i
                                class="glyphicon"
                                style="cursor:pointer"
                                ng-click="vm.openDetail()"
                                ng-class="{'glyphicon-chevron-down': vm.status.item1DetailOpen, 'glyphicon-chevron-right': !vm.status.item1DetailOpen}">
                        </i>
                        <label>Items Description</label>
                        <!--<button class="btn btn-xs btn-info">Edit</button>-->
                        <br>
                        <panel class="col-lg-12" ng-show="vm.status.item1DetailOpen">
                            <ul>
                                <li>
                                    his Certified Refurbished product is tested & certified by HP to look and work like-new.
                                </li>
                                <li>
                                    TThe product includes all original accessories, and is backed by a 90-Day warranty.
                                    AMD Quad-Core A8-6410 Processor up to 2.4GHz Frequency, 4GB DDR3 RAM (2 slots, 1 user accessible), 750G HDD;
                                </li>
                                <li>
                                    15.6" HD BrightView Display with WLED Backlighting 1366x768, AMD Radeon R5 Built-in Graphics;
                                </li>
                                <li>
                                    SuperMulti DVD Burner, HD Webcam with Mic, 1 USB 3.0 Port, 2 USB 2.0 Ports, 1 HDMI Port, 802.11b/g/n WiFi;
                                    Genuine Windows 7 Home Premium 64-bit, English.
                                </li>
                            </ul>
                        </panel>
                    </div>
                </div>
                <!--<br>-->
                <!--<pre>Added: 07/05/2016</pre>-->
                <!--<pre>Modified: 07/12/2016</pre>-->
            </div>
            <div class="col-lg-3">
                <div class="btn-group" style="margin-top:50px">
                    <button class="btn btn-xs btn-danger">Remove</button>
                    <button class="btn btn-xs btn-success">Move To Shopping Cart</button>
                </div>
            </div>
        </div>
	    <div class="col-lg-12">
	            <div class="progress col-lg-1">
	                <img src="../src/server/public/picture/item_tv.jpg" style="width:100%" class="img-thumbnail">
	                <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar"
	                     style="width:100%">
	                    Get Bidded
	                </div>
	            </div>
	            <div class="col-lg-7" style="padding:10px 40px;font-size: 16px">
	                <div>TV</div>
	                <div>item Id: <a ui-sref="shareeconomy.itemDetail({itemId:'1002431'})">1002431</a></div>
	                <div style="font-size: 80%;margin-top:10px">
	                    <div>
	                        <label style="display:inline-block;">Preferred EST Price:</label> <span>15$ </span>

	                        <label style="border-left:1px solid lightgrey;display:inline-block;padding-left: 10px">Collected By:</label> <span>5 customers </span>

	                        <label style="border-left:1px solid lightgrey;display:inline-block;padding-left: 10px">Bargain With:</label> <span>2 customers </span>
	                        <br>
	                        <label style="display:inline-block;">Brand New Item in Market:</label> <span>18$ </span>
	                        <br>
	                        <i
	                            class="glyphicon"
	                            style="cursor:pointer"
	                            ng-click="vm.openDetail()"
	                            ng-class="{'glyphicon-chevron-down': vm.status.item1DetailOpen, 'glyphicon-chevron-right': !vm.status.item1DetailOpen}">
	                        </i>
	                        <label>Items Description</label>
	                        <br>
	                        <panel class="col-lg-12" ng-show="vm.status.item1DetailOpen">
	                            <ul>
	                                <li>
	                                    his Certified Refurbished product is tested & certified by HP to look and work like-new.
	                                </li>
	                                <li>
	                                    TThe product includes all original accessories, and is backed by a 90-Day warranty.
	                                    AMD Quad-Core A8-6410 Processor up to 2.4GHz Frequency, 4GB DDR3 RAM (2 slots, 1 user accessible), 750G HDD;
	                                </li>
	                                <li>
	                                    15.6" HD BrightView Display with WLED Backlighting 1366x768, AMD Radeon R5 Built-in Graphics;
	                                </li>
	                                <li>
	                                    SuperMulti DVD Burner, HD Webcam with Mic, 1 USB 3.0 Port, 2 USB 2.0 Ports, 1 HDMI Port, 802.11b/g/n WiFi;
	                                    Genuine Windows 7 Home Premium 64-bit, English.
	                                </li>
	                            </ul>
	                        </panel>
	                    </div>
	                </div>
	                <!--<br>-->
	                <!--<pre>Added: 07/05/2016</pre>-->
	                <!--<pre>Modified: 07/12/2016</pre>-->
	            </div>
	            <div class="col-lg-3">
	                <div class="btn-group" style="margin-top:50px">
	                    <button class="btn btn-xs btn-danger">Remove</button>
	                    <button class="btn btn-xs btn-success">Move To Shopping Cart</button>
	                </div>
	            </div>
	    </div>
	    <div class="col-lg-12">
	            <div class="progress col-lg-1">
	                <img src="../src/server/public/picture/item_router.jpg" style="width:100%" class="img-thumbnail">
	                <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar"
	                     style="width:100%">
	                    Get Bidded
	                </div>
	            </div>
	            <div class="col-lg-7" style="padding:10px 40px;font-size: 16px">
	                <div>Router</div>
	                <div>item Id: 1002431</div>
	                <div style="font-size: 80%;margin-top:10px">
	                    <div>
	                        <label style="display:inline-block;">Preferred EST Price:</label> <span>15$ </span>

	                        <label style="border-left:1px solid lightgrey;display:inline-block;padding-left: 10px">Collected By:</label> <span>5 customers </span>

	                        <label style="border-left:1px solid lightgrey;display:inline-block;padding-left: 10px">Bargain With:</label> <span>2 customers </span>
	                        <br>
	                        <label style="display:inline-block;">Brand New Item in Market:</label> <span>18$ </span>
	                        <br>
	                        <i
	                            class="glyphicon"
	                            style="cursor:pointer"
	                            ng-click="vm.openDetail()"
	                            ng-class="{'glyphicon-chevron-down': vm.status.item1DetailOpen, 'glyphicon-chevron-right': !vm.status.item1DetailOpen}">
	                        </i>
	                        <label>Items Description</label>
	                        <br>
	                        <panel class="col-lg-12" ng-show="vm.status.item1DetailOpen">
	                            <ul>
	                                <li>
	                                    his Certified Refurbished product is tested & certified by HP to look and work like-new.
	                                </li>
	                                <li>
	                                    TThe product includes all original accessories, and is backed by a 90-Day warranty.
	                                    AMD Quad-Core A8-6410 Processor up to 2.4GHz Frequency, 4GB DDR3 RAM (2 slots, 1 user accessible), 750G HDD;
	                                </li>
	                                <li>
	                                    15.6" HD BrightView Display with WLED Backlighting 1366x768, AMD Radeon R5 Built-in Graphics;
	                                </li>
	                                <li>
	                                    SuperMulti DVD Burner, HD Webcam with Mic, 1 USB 3.0 Port, 2 USB 2.0 Ports, 1 HDMI Port, 802.11b/g/n WiFi;
	                                    Genuine Windows 7 Home Premium 64-bit, English.
	                                </li>
	                            </ul>
	                        </panel>
	                    </div>
	                </div>
	                <!--<br>-->
	                <!--<pre>Added: 07/05/2016</pre>-->
	                <!--<pre>Modified: 07/12/2016</pre>-->
	            </div>
	            <div class="col-lg-3">
	                <div class="btn-group" style="margin-top:50px">
	                    <button class="btn btn-xs btn-danger">Remove</button>
	                    <button class="btn btn-xs btn-success">Move To Shopping Cart</button>
	                </div>
	            </div>
	    </div>
	    <div class="col-lg-12" style="margin-top: 30px">
            <div class="progress col-lg-1">
                <img src="../src/server/public/picture/item_cpu.jpg" style="width:100%" class="img-thumbnail">
                <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar"
                     style="width:100%">
                    Get Sold
                </div>
            </div>
            <div class="col-lg-7" style="padding:10px 40px;font-size: 16px">
                <div>CPU</div>
                <div>item Id: 1021434</div>
                <div style="font-size: 80%;margin-top:10px">
                    <div>
                        <label style="display:inline-block;">Preferred EST Price:</label> <span>15$ </span>

                        <label style="border-left:1px solid lightgrey;display:inline-block;padding-left: 10px">Collected By:</label> <span>5 customers </span>

                        <label style="border-left:1px solid lightgrey;display:inline-block;padding-left: 10px">Bargain With:</label> <span>2 customers </span>
                        <br>
                        <label style="display:inline-block;">Brand New Item in Market:</label> <span>18$ </span>
                        <br>
                        <i
                                class="glyphicon"
                                style="cursor:pointer"
                                ng-click="vm.openDetail()"
                                ng-class="{'glyphicon-chevron-down': vm.status.item1DetailOpen, 'glyphicon-chevron-right': !vm.status.item1DetailOpen}">
                        </i>
                        <label>Items Description</label>
                        <!--<button class="btn btn-xs btn-info">Edit</button>-->
                        <br>
                        <panel class="col-lg-12" ng-show="vm.status.item1DetailOpen">
                            <ul>
                                <li>
                                    his Certified Refurbished product is tested & certified by HP to look and work like-new.
                                </li>
                                <li>
                                    TThe product includes all original accessories, and is backed by a 90-Day warranty.
                                    AMD Quad-Core A8-6410 Processor up to 2.4GHz Frequency, 4GB DDR3 RAM (2 slots, 1 user accessible), 750G HDD;
                                </li>
                                <li>
                                    15.6" HD BrightView Display with WLED Backlighting 1366x768, AMD Radeon R5 Built-in Graphics;
                                </li>
                                <li>
                                    SuperMulti DVD Burner, HD Webcam with Mic, 1 USB 3.0 Port, 2 USB 2.0 Ports, 1 HDMI Port, 802.11b/g/n WiFi;
                                    Genuine Windows 7 Home Premium 64-bit, English.
                                </li>
                            </ul>
                        </panel>
                    </div>
                </div>
                <!--<br>-->
                <!--<pre>Added: 07/05/2016</pre>-->
                <!--<pre>Modified: 07/12/2016</pre>-->
            </div>
            <div class="col-lg-3">
                <div class="btn-group" style="margin-top:50px">

                    <button class="btn btn-xs btn-danger">Remove</button>
                    <button class="btn btn-xs btn-success">Move To Shopping Cart</button>
                </div>
            </div>
        </div>
        <div class="col-lg-12" style="margin-top: 30px">
            <div class="progress col-lg-1">
                <img src="../src/server/public/picture/item_desktop.jpg" style="width:100%" class="img-thumbnail">
                <div class="progress-bar progress-bar-danger progress-bar-striped" role="progressbar"
                     style="width:100%">
                    Get Sold
                </div>
            </div>
            <div class="col-lg-7" style="padding:10px 40px;font-size: 16px">
                <div>Desktop</div>
                <div>item Id: 1021434</div>
                <div style="font-size: 80%;margin-top:10px">
                    <div>
                        <label style="display:inline-block;">Preferred EST Price:</label> <span>15$ </span>

                        <label style="border-left:1px solid lightgrey;display:inline-block;padding-left: 10px">Collected By:</label> <span>5 customers </span>

                        <label style="border-left:1px solid lightgrey;display:inline-block;padding-left: 10px">Bargain With:</label> <span>2 customers </span>
                        <br>
                        <label style="display:inline-block;">Brand New Item in Market:</label> <span>18$ </span>
                        <br>
                        <i
                                class="glyphicon"
                                style="cursor:pointer"
                                ng-click="vm.openDetail()"
                                ng-class="{'glyphicon-chevron-down': vm.status.item1DetailOpen, 'glyphicon-chevron-right': !vm.status.item1DetailOpen}">
                        </i>
                        <label>Items Description</label>
                        <!--<button class="btn btn-xs btn-info">Edit</button>-->
                        <br>
                        <panel class="col-lg-12" ng-show="vm.status.item1DetailOpen">
                            <ul>
                                <li>
                                    his Certified Refurbished product is tested & certified by HP to look and work like-new.
                                </li>
                                <li>
                                    TThe product includes all original accessories, and is backed by a 90-Day warranty.
                                    AMD Quad-Core A8-6410 Processor up to 2.4GHz Frequency, 4GB DDR3 RAM (2 slots, 1 user accessible), 750G HDD;
                                </li>
                                <li>
                                    15.6" HD BrightView Display with WLED Backlighting 1366x768, AMD Radeon R5 Built-in Graphics;
                                </li>
                                <li>
                                    SuperMulti DVD Burner, HD Webcam with Mic, 1 USB 3.0 Port, 2 USB 2.0 Ports, 1 HDMI Port, 802.11b/g/n WiFi;
                                    Genuine Windows 7 Home Premium 64-bit, English.
                                </li>
                            </ul>
                        </panel>
                    </div>
                </div>
                <!--<br>-->
                <!--<pre>Added: 07/05/2016</pre>-->
                <!--<pre>Modified: 07/12/2016</pre>-->
            </div>
            <div class="col-lg-3">
                <div class="btn-group" style="margin-top:50px">
                    <button class="btn btn-xs btn-danger">Remove</button>
                    <button class="btn btn-xs btn-success">Move To Shopping Cart</button>
                </div>
            </div>
        </div>
        <div class="col-lg-12" style="margin-top: 30px">
        	<uib-pagination boundary-links="true" total-items="vm.totalItems" ng-model="vm.currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></uib-pagination>
        </div>
	</div>
	<div class="col-lg-2" style="margin-top:60px">
		<span>Filter By Status</span>
		<hr style='margin-top: 5px'>
		<div class="list-group">
		 	<a href="#" class="list-group-item" ng-click='vm.filterBy.collecting=!vm.filterBy.collecting'>
		 		<div class="checkbox">
					<label><input type="checkbox" ng-model='vm.filterBy.collecting'>Collecting</label>
				</div>
			</a>
		    <a href="#" class="list-group-item" ng-click='vm.filterBy.bidding=!vm.filterBy.bidding'>
		    	<div class="checkbox">
					<label><input type="checkbox" ng-model='vm.filterBy.bidding'>Bidding</label>
				</div>
		    </a>
		    <a href="#" class="list-group-item" ng-click='vm.filterBy.ordering=!vm.filterBy.ordering'>
		    	<div class="checkbox">
					<label><input type="checkbox" ng-model='vm.filterBy.ordering'>Ordering</label>
				</div>
			</a>
		</div>
	</div>

</div>