<div ui-view>
    <div class="row home-page" ng-init="vm.init()">
        <div class="container">
            <div class="panel panel-default ">
                <div class="panel-heading" style="background-color:#f7f7f7">
                    <h3 class="panel-title">Craigslist</h3>
                </div>
                <div class="panel-body">
                    <div class="col-lg-3 craigslist-item" style="border-right: 1px #ebebeb solid;">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <b>Electronics & Computers</b>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li ng-repeat="item in vm.elecCompItems" class="list-group-item">
                                        {{item}}
                                    </li>
                                </ul>

                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 craigslist-item">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <b>Automotive & Industrial</b>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li ng-repeat="item in vm.autoIndItems" class="list-group-item">
                                        {{item}}
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 craigslist-item">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <b>Movies, Music & Games</b>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li ng-repeat="item in vm.movieMusicGameItems" class="list-group-item">
                                        {{item}}
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-3 craigslist-item">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <b>Home Services</b>
                            </div>
                            <div class="panel-body">
                                <ul class="list-group">
                                    <li ng-repeat="item in vm.homeServicesItems" class="list-group-item">
                                        {{item}}
                                    </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-11 recent-view">
            <div class="panel panel-default">
                <div class="panel-heading" style="background-color:#f7f7f7">
                    <span>Wish List</span>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-default"> Save Wish List</button>&nbsp;&nbsp;&nbsp;&nbsp;
                    <button class="btn btn-default" ui-sref="shareeconomy.shoppingCart"> Go To Shopping Cart</button>
                    <span style="float:right">{{vm.currentWishListPage+1}} page / {{vm.pageLength}} pages</span>
                </div>
                <div class="panel-body recent-view-item-container" ng-show="!vm.isSignIn">
                    <a href="#" ng-click="vm.openModal('#signIn')">Sign In </a>
                </div>
                <div class="panel-body recent-view-item-container" ng-show="vm.isSignIn">

                    <div class="col-lg-1">
                        <div class="vertical-center">
                            <a ng-click="vm.prevPageItems()"><span class=" glyphicon glyphicon-menu-left col-lg-6"></span></a>
                        </div>
                    </div>
                    <div class="col-lg-2" ng-repeat="item in vm.wishListContainer track by $index">
                        <br>
                        <div class="panel panel-default" >
                            <div class="panel-heading">
                                &nbsp;
                                <a>Item {{$index+1}}</a>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <a class="glyphicon glyphicon-shopping-cart"
                                   ng-click="vm.addToShoppingCart(item.headerId)"
                                   ng-class="{'active-color-add': vm[item.headerId+'isAdd']===true}"
                                   uib-popover="{{(!vm[item.headerId+'isAdd'])?'add to':'delete from'}} cart"
                                   popover-trigger="mouseenter">
                                </a>
                                &nbsp;
                                <a class="glyphicon glyphicon-trash"
                                   ng-click="vm.deleteWishListItems($index,item.headerId)"
                                   uib-popover="delete from wish list"
                                   popover-trigger="mouseenter">

                                </a>
                            </div>
                            <div class="panel-body">
                                {{item.description}}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-1">
                        <div class="vertical-center">
                            <a ng-click="vm.nextPageItems()"><span class=" glyphicon glyphicon-menu-right col-lg-6"></span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

