<div ng-init=vm.init() style="background-image: url(../src/server/public/picture/background-7.jpg);background-size: cover;margin-top: -20px;padding:30px 0px; width:100%;margin-bottom: -20px" class="visitorReview">
	<div class="panel panel-info col-lg-11 div-center">
		<div class="panel-heading">
			<div style="float:none;display: inline-block;">
	            <img src="../src/server/public/picture/Desktops_SBNV_Hero6_2016._CB297392653_.jpg"
	                 style="height:50px;border-radius: 50%;"
	                 class="img-thumbnail">
	        </div>
	        <div style="display: inline-block;margin-left: 30px"><span>{{"liang121's ACCOUNT"|uppercase}}</span></div>
	        <div style="display: inline-block;margin-left: 30px">
	        	<button class="btn btn-info btn-sm" ng-click="vm.openContactModal('#contactInfoModal')">Contact Info</button>
	        	<a class="btn btn-info btn-sm" ng-click="vm.goToReview()">2 customer reviews</a>
	        </div>
		</div>
		<div class="panel-body">
			<div class="col-lg-4">
				<canvas id="doughnut" class="chart chart-doughnut"
	  				chart-data="vm.data" chart-labels="vm.labels" style="float:left">
				</canvas> 
			</div>
			<div class="col-lg-5" style="float:right;padding-top: 0px">
				<h5 style="margin-top: 0px">Bidding Deals</h5>
				<hr style="margin-top: -2px" />

				<div style="height:30px;width: 30px;border-radius: 50%;background-color: #fa4444;float:left;"></div>
				<div style="padding-left: 20px;float:left;padding-bottom: 5px">Success Bids</div>
				<div style="padding-left: 20px;float:right;padding-bottom: 5px;padding-right: 20px"><span style="font-size: 20px">1</span></div>
				<hr style="margin-top: -2px;clear:both" />

				<div style="height:30px;width: 30px;border-radius: 50%;background-color: #dcdcdc;float:left;"></div>
				<div style="padding-left: 20px;float:left;padding-bottom: 5px">Cancel Bids</div>
				<div style="padding-left: 20px;float:right;padding-bottom: 5px;padding-right: 20px"><span style="font-size: 20px">3</span></div>
				<hr style="margin-top: -2px;clear:both" />

				<div style="height:30px;width: 30px;border-radius: 50%;background-color: #96bbce;float:left;"></div>
				<div style="padding-left: 20px;float:left;padding-bottom: 5px">Wait Bids</div>
				<div style="padding-left: 20px;float:right;padding-bottom: 5px;padding-right: 20px"><span style="font-size: 20px">5</span></div>
				<hr style="margin-top: -2px;clear:both" />
			</div>
			
			<div class="col-lg-12" style="padding-top: 30px;border-top:1px solid #bce8f1;margin-top:20px;clear:both">
				<table class="table table-info" >
					<thead>
						<tr>
							<td>MOYU LIANG's Wishes</td>
							<td>Potential Traders #</td>
							<td>Create Date</td>
							<td>Exp Date</td>
							<td>&nbsp;</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>practically new Ipod</td>
							<td><a>3</a></td>
							<td>05/27/2016</td>
							<td>07/27/2016</td>
							<td>
								<button class="btn btn-info btn-xs">Move to wishlist</button>
								<button class="btn btn-info btn-xs">Move to shopping cart</button>
							</td>
						</tr>
						<tr>
							<td>flight tickes to China</td>
							<td><a>3</a></td>
							<td>05/27/2016</td>
							<td>06/20/2016</td>
							<td>
								<button class="btn btn-info btn-xs">Move to wishlist</button>
								<button class="btn btn-info btn-xs">Move to shopping cart</button>
							</td>
						</tr>
						<tr>
							<td>Play Dota in this Firady night</td>
							<td><a>1024</a></td>
							<td>05/27/2016</td>
							<td>12/27/2016</td>
							<td>
								<button class="btn btn-info btn-xs">Move to wishlist</button>
								<button class="btn btn-info btn-xs">Move to shopping cart</button>
							</td>
						</tr>	
					</tbody>
				</table>
			</div>
			<div class="col-lg-12" style="margin-top:20px">
				<hr/>
				<table class="table table-info table-strip">
					<thead>
						<tr>
							<td>MOYU LIANG's Items</td>
							<td>Customer Biddings #</td>
							<td>Create Date</td>
							<td>Exp Date</td>
							<td>Market EST Price</td>
							<td>&nbsp;</td>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td>Brand New HP 29 inches Monitor</td>
							<td><a>13</a></td>
							<td>05/27/2016</td>
							<td>07/27/2016</td>
							<td>$307</td>
							<td>
								<button class="btn btn-info btn-xs">Move to wishlist</button>
								<button class="btn btn-info btn-xs">Move to shopping cart</button>
							</td>
						</tr>
						<tr>
							<td>House CAD Design</td>
							<td><a>11</a></td>
							<td>05/27/2016</td>
							<td>06/20/2016</td>
							<td>$45 / hour</td>
							<td>
								<button class="btn btn-info btn-xs">Move to wishlist</button>
								<button class="btn btn-info btn-xs">Move to shopping cart</button>
							</td>
						</tr>
						<tr>
							<td>Google Software Engeneers Positions' Ref</td>
							<td><a>104</a></td>
							<td>05/27/2016</td>
							<td>12/27/2016</td>
							<td>Unvalue</td>
							<td>
								<button class="btn btn-info btn-xs">Move to wishlist</button>
								<button class="btn btn-info btn-xs">Move to shopping cart</button>
							</td>
						</tr>	
						<tr>
							<td>USB Cable</td>
							<td><a>104</a></td>
							<td>05/27/2016</td>
							<td>12/27/2016</td>
							<td>$14</td>
							<td>
								<button class="btn btn-info btn-xs">Move to wishlist</button>
								<button class="btn btn-info btn-xs">Move to shopping cart</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="col-lg-12" id="review" style="padding-bottom:100px;border-top:1px solid #bce8f1;padding-top:30px" id="answerQuestion">
		    	<h4 style="display:inline-block">Customer Reviews</h4> 
		    	<span uib-rating 
                    ng-model="vm.reviewContent.overallRate" 
                    max="5" 
                    read-only="true" 
                    style="padding:5px 10px;color:#f2ae44;font-size:15px;display:inline-block;border:1px solid lightgray;border-radius:5px">
                </span>
                <br>
	            <div class="col-lg-5" style="text-align:right;padding-top:20px;padding-bottom:20px">
	            	<div>
						<div uib-rating 
					        ng-model="vm.reviewContent.rateDesc" 
					        max="5" 
					        read-only="true" 
					        style="color:#f2ae44;font-size:14px;float:left">
					    </div>
					    <div style="float:left;padding-left:5px;font-size: 13px"><span style="font-weight:bold">130 rates</span> <span style="padding-left:15px;">Item as described</span></div>
					</div>
					<br style="clear:both">
					<div>
						<div uib-rating 
					        ng-model="vm.reviewContent.rateComm" 
					        max="5" 
					        read-only="true" 
					        style="color:#f2ae44;font-size:14px;float:left">
					    </div>
					    <div style="float:left;padding-left:5px;font-size: 13px"><span style="font-weight:bold">128 rates</span> <span style="padding-left:15px;">Communication</span></div>
					</div>
					<br style="clear:both">
					<div>
						<div uib-rating 
					        ng-model="vm.reviewContent.rateShippingTime" 
					        max="5" 
					        read-only="true" 
					        style="color:#f2ae44;font-size:14px;float:left">
					    </div>
					    <div style="float:left;padding-left:5px;font-size: 13px"><span style="font-weight:bold">110 rates</span> <span style="padding-left:15px;">Shipping time</span></div>
					</div>
					<br style="clear:both">
					<div>
						<div uib-rating 
					        ng-model="vm.reviewContent.rateShippingCharge" 
					        max="5" 
					        read-only="true" 
					        
					        style="color:#f2ae44;font-size:14px;float:left">
					    </div>
					    <div style="float:left;padding-left:5px;font-size: 13px"><span style="font-weight:bold">141 rates</span> <span style="padding-left:15px;">Shipping charges</span></div>
					</div>
	            </div>

	            <hr style="clear:both">
		    	<div class="col-lg-12" style="padding-bottom:20px;margin-bottom:10px" ng-repeat="review in vm.reviewContent.reviews track by $index" ng-show="vm.showReviewsNum>$index">
					<div class="col-lg-2" style="">
			    		<div uib-rating 
		                    ng-model="review.rate.overallRate" 
		                    max="5" 
		                    read-only="true" 
		                    popover-placement="right" 
					        uib-popover-template="'app/feature/itemDetail/popOver/ratePopOver.html'"
					        popover-trigger="'mouseenter'"
		                    style="color:#f2ae44;font-size:14px;display:inline-block;">
		                </div>
		                <div style="display:inline-block;color:gray"><b>rate by:</b><a> {{review.reviewedBy}}</a><br> on {{review.date}}</div>
			    	</div>
			    	<div class="col-lg-10" style="text-align:left;">
			    		<div>
				    		<div>
				    			<div class="col-lg-2" style="font-weight:bold;font-size:15px;text-align:right">Title: </div>
				    			<div class="col-lg-10" style=""><span>{{review.title}}</span></div>
				    		</div>
			    			<br><br>
			    			<div>
				    			<div class="col-lg-2" style="font-weight:bold;font-size:15px;text-align:right">Review: </div>
				    			<div class="col-lg-10">
				    				<span>{{review.content}}
									</span>
				    			</div>
				    		</div>
				    		<div style="float:left;padding-left:19%;padding-top:20px">
			                    <button class="btn btn-info btn-xs" style="padding:0 5px;margin-right:10px" ng-click="vm.seeComments($index,'#reviewCommentModal')">See the Comments</button>
			    			</div>
			    		</div>
			    	</div>
			    	<br style="clear:both">
			    	<hr>
		    	</div>
		    	<div class="col-lg-7" style="float:right;">
		    		<button class="btn btn-info btn-xs" style="padding:0 5px;margin-right:10px" ng-click="vm.showMoreReviews()" ng-disabled='vm.reviewsNum == vm.showReviewsNum'>See More Answers <span class="badge">{{vm.reviewsNum-vm.showReviewsNum}}</span></button>
		    		<button class="btn btn-default btn-xs" ng-click='vm.showReviewsNum=1'>Collapse All</button>
    			</div>
		    </div>
		</div>
	</div>
	<div class="lightbox-container">
		<snap-lightbox
            box-id = "contactInfoModal"
            box-type = "top"
            is-modal="true">
            <span class="glyphicon glyphicon-remove" style="float:right;cursor: pointer;" ng-click="vm.closeContactModal('#contactInfoModal')"></span>
            <div class="lightbox-body" ng-include="'app/feature/accountReviewByVisitors/modal/contactModal.html'"></div>
        </snap-lightbox>
        <snap-lightbox
            box-id = "reviewCommentModal"
            box-type = "right"
            is-modal="true"
            right-class='col-lg-6'>
            <span class="glyphicon glyphicon-remove" style="float:right;cursor: pointer;" ng-click="vm.closeReviewCommentModal('#reviewCommentModal')"></span>
            <div class="lightbox-body">
            	<comment-modal 
            		obj= "vm.review"
            		title= "vm.review.title"
            		template-id= "forReview"
            		comment-field-content = "vm.commentFieldContent"
            		submit-comment="vm.submitComment()"
            		comment-field-placeholder = "vm.commentFieldPlaceholder"
            		selected-comment = "vm.selectedComment"
            		show-comment-field = "vm.showCommentField"
            		is-reply = "vm.isReply"
            		>
            	</comment-modal>
            </div>
        </snap-lightbox>
	</div>
</div>