<div class="container message-center" ng-init='vm.init()'>
	<div class="col-lg-2" style="margin-top: 30px">
		<div class="sidebar">
			<ul>
				<li><a ui-sref='shareeconomy.messageCenter.inbox'
					   ng-class="{'message-center-sidebar-active':vm.chooseInbox}"
					   ng-click="vm.chooseInbox = true">Inbox</a></li>
				<li><a ui-sref='shareeconomy.messageCenter.sent'
					   style="border-top:none"
					   ng-class="{'message-center-sidebar-active':!vm.chooseInbox}"
					   ng-click="vm.chooseInbox = false">Sent</a></li>
			</ul>
		</div>
		<div class="btn-group" style="margin-top: 30px">
		    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
		    	{{vm.filterCondition}} <span class="caret"></span>
		  	</button>
		  	<ul class="dropdown-menu">
		    	<li><a ng-click="vm.setFilterCondition(7,'One Week')">Last Week</a></li>
		    	<li><a ng-click="vm.setFilterCondition(30, 'Last 30 Days')">Last 30 Days</a></li>
		    	<li><a ng-click="vm.setFilterCondition('unread', 'Unread')">UnRead</a></li>
		    	<li><a ng-click="vm.setFilterCondition('','All Messages')">All</a></li>
		    </ul>
		</div>
	</div>
	<div class="col-lg-9" style="margin-left:30px;margin-top:30px">
		<div ui-view></div>
	</div>
</div>