
	<!-- <h5>{{'Moyu Liang'}}'s Overall Rate: {{3}}/5</h5> -->
	<!-- <hr style="margin-top: -2px" /> -->
	<div>
		<div uib-rating 
	        ng-model="review.rate.rateDesc" 
	        max="5" 
	        read-only="true" 
	        popover-placement="right" 
	        uib-popover-template="'app/feature/itemDetail/popOver/ratePopOver.html'"
	        popover-trigger="'click'"
	        style="color:#f2ae44;font-size:14px;float:left">
	    </div>
	    <div style="float:left;padding-left:5px;font-size: 13px">
	    	<!-- <span style="font-weight:bold">130 rates</span>  -->
	    	<span style="padding-left:15px;">Item as described</span>
	    </div>
	</div>
	<br style="clear:both">
	<div>
		<div uib-rating 
	        ng-model="review.rate.rateComm" 
	        max="5" 
	        read-only="true" 
	        popover-placement="right" 
	        uib-popover-template="'app/feature/itemDetail/popOver/ratePopOver.html'"
	        popover-trigger="'click'"
	        style="color:#f2ae44;font-size:14px;float:left">
	    </div>
	    <div style="float:left;padding-left:5px;font-size: 13px">
	    	<!-- <span style="font-weight:bold">128 rates</span>  -->
	    	<span style="padding-left:15px;">Communication</span>
	    </div>
	</div>
	<br style="clear:both">
	<div>
		<div uib-rating 
	        ng-model="review.rate.rateShippingTime" 
	        max="5" 
	        read-only="true" 
	        popover-placement="right" 
	        uib-popover-template="'app/feature/itemDetail/popOver/ratePopOver.html'"
	        popover-trigger="'click'"
	        style="color:#f2ae44;font-size:14px;float:left">
	    </div>
	    <div style="float:left;padding-left:5px;font-size: 13px">
	    	<!-- <span style="font-weight:bold">110 rates</span>  -->
	    	<span style="padding-left:15px;">Shipping time</span>
	    </div>
	</div>
	<br style="clear:both">
	<div>
		<div uib-rating 
	        ng-model="review.rate.rateShippingCharge" 
	        max="5" 
	        read-only="true" 
	        popover-placement="right" 
	        uib-popover-template="'app/feature/itemDetail/popOver/ratePopOver.html'"
	        popover-trigger="'click'"
	        style="color:#f2ae44;font-size:14px;float:left">
	    </div>
	    <div style="float:left;padding-left:5px;font-size: 13px">
	    	<!-- <span style="font-weight:bold">141 rates</span>  -->
	    	<span style="padding-left:15px;">Shipping charges</span>
	    </div>
	</div>
	<br style="clear:both">
	<!-- <div>
		<span uib-rating 
	        ng-model="vm.itemDetail.rate" 
	        max="5" 
	        read-only="true" 
	        popover-placement="right" 
	        uib-popover-template="'app/feature/itemDetail/popOver/ratePopOver.html'"
	        popover-trigger="'click'"
	        style="color:#f2ae44;font-size:14px">
	    </span>
		<span style="float:right;padding-left:15px;font-size: 13px">Shipping time</span>
	</div>
	<div>
		<span uib-rating 
	        ng-model="vm.itemDetail.rate+1" 
	        max="5" 
	        read-only="true" 
	        popover-placement="right" 
	        uib-popover-template="'app/feature/itemDetail/popOver/ratePopOver.html'"
	        popover-trigger="'click'"
	        style="color:#f2ae44;font-size:14px">
	    </span>
		<span style="float:right;padding-left:15px;font-size: 13px">Shipping charges</span>
	</div> -->



